# Categorical analysis - Barplots
- all features are transformed into categorical variables

- The idea is aggregate categorical features using pandas crosstab and plot with plotly

In [1]:
import os
# fix root path to save outputs
actual_path = os.path.abspath(os.getcwd())
list_root_path = actual_path.split('\\')[:-1]
root_path = '\\'.join(list_root_path)
os.chdir(root_path)
print('root path: ', root_path)

root path:  D:\github-mi-repo\exploratory-data-analysis

### 0. Package and load data

In [2]:
from sklearn.datasets import fetch_california_housing
import json
import pandas as pd
import numpy as np

# plotly
import plotly
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from plotly.subplots import make_subplots

#### load data categorical features and target generated by percentiles
This is generated in the notebook 0

In [3]:
data_percentile_feature_target = pd.read_pickle('data/df_cat_feature_target.pkl')
data_percentile_feature_target.head()

,quartile_MedInc,quartile_HouseAge,quartile_AveRooms,quartile_AveBedrms,quartile_Population,quartile_AveOccup,quartile_Latitude,quartile_Longitude,quartile_Price
0,q4 - (4.74-15.0),q4 - (37.0-52.0),q4 - (6.05-141.91),q2 - (1.01-1.05),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
1,q4 - (4.74-15.0),q2 - (18.0-29.0),q4 - (6.05-141.91),q1 - (0.33-1.01),q4 - (1725.0-35682.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
2,q4 - (4.74-15.0),q4 - (37.0-52.0),q4 - (6.05-141.91),q3 - (1.05-1.1),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
3,q4 - (4.74-15.0),q4 - (37.0-52.0),q3 - (5.23-6.05),q3 - (1.05-1.1),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
4,q3 - (3.53-4.74),q4 - (37.0-52.0),q4 - (6.05-141.91),q3 - (1.05-1.1),q1 - (3.0-787.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)

#### load data categorical only features generated by percentiles
This is generated in the notebook 0

In [4]:
data_percentile_feature = pd.read_pickle('data/df_cat_feature.pkl')
data_percentile_feature.head()

,Price,quartile_Latitude,quartile_Population,quartile_HouseAge,quartile_Longitude,quartile_AveOccup,quartile_AveRooms,quartile_MedInc,quartile_AveBedrms
0,4.526,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q2 - (2.43-2.82),q4 - (6.05-141.91),q4 - (4.74-15.0),q2 - (1.01-1.05)
1,3.585,q4 - (37.71-41.95),q4 - (1725.0-35682.0),q2 - (18.0-29.0),q1 - (-124.35--121.8),q1 - (0.69-2.43),q4 - (6.05-141.91),q4 - (4.74-15.0),q1 - (0.33-1.01)
2,3.521,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q2 - (2.43-2.82),q4 - (6.05-141.91),q4 - (4.74-15.0),q3 - (1.05-1.1)
3,3.413,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q2 - (2.43-2.82),q3 - (5.23-6.05),q4 - (4.74-15.0),q3 - (1.05-1.1)
4,3.422,q4 - (37.71-41.95),q1 - (3.0-787.0),q4 - (37.0-52.0),q1 - (-124.35--121.8),q1 - (0.69-2.43),q4 - (6.05-141.91),q3 - (3.53-4.74),q3 - (1.05-1.1)

In [5]:
### DEFINE DATA TO USE
data = data_percentile_feature_target.copy()
data.head()

,quartile_MedInc,quartile_HouseAge,quartile_AveRooms,quartile_AveBedrms,quartile_Population,quartile_AveOccup,quartile_Latitude,quartile_Longitude,quartile_Price
0,q4 - (4.74-15.0),q4 - (37.0-52.0),q4 - (6.05-141.91),q2 - (1.01-1.05),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
1,q4 - (4.74-15.0),q2 - (18.0-29.0),q4 - (6.05-141.91),q1 - (0.33-1.01),q4 - (1725.0-35682.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
2,q4 - (4.74-15.0),q4 - (37.0-52.0),q4 - (6.05-141.91),q3 - (1.05-1.1),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
3,q4 - (4.74-15.0),q4 - (37.0-52.0),q3 - (5.23-6.05),q3 - (1.05-1.1),q1 - (3.0-787.0),q2 - (2.43-2.82),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)
4,q3 - (3.53-4.74),q4 - (37.0-52.0),q4 - (6.05-141.91),q3 - (1.05-1.1),q1 - (3.0-787.0),q1 - (0.69-2.43),q4 - (37.71-41.95),q1 - (-124.35--121.8),q4 - (2.65-5.0)

### examples

In [6]:
# Crear un DataFrame de ejemplo
data = {'A': [1, 1, 1, 0, 0, 0],
        'B': [1, 1, 0, 0, 1, 1],
        'C': [1, 0, 0, 1, 1, 1]}

df = pd.DataFrame(data)

# Calcular la tabla cruzada
cross_tab = pd.crosstab(df['A'], [df['B'], df['C']], rownames=['A'], colnames=['B', 'C'])

# Crear un gráfico con Plotly Express
fig = px.imshow(cross_tab, labels=dict(x="B", y="C", color="Count"),
                x=cross_tab.columns.levels[1], y=cross_tab.columns.levels[2])

# Configurar el diseño del gráfico
fig.update_layout(title="Tabla Cruzada",
                  xaxis_title="B",
                  yaxis_title="C")

# Mostrar el gráfico
fig.show()

IndexError: list index out of range

In [10]:
# otra idea hacer cross tab de percentiles pero que luego haya funciones de agregacion de la media, std, por ejemplo
import pandas as pd
import numpy as np

# Crear un DataFrame de ejemplo con variables continuas
np.random.seed(42)
data = {'Variable1': np.random.randn(100),
        'Variable2': np.random.randn(100),
        'Variable3': np.random.randn(100)}

df = pd.DataFrame(data)

# Dividir las variables en percentiles
percentiles = [0, 25, 50, 75, 100]
df_percentiles = pd.DataFrame()

for col in df.columns:
    df_percentiles[col] = pd.cut(df[col], percentiles, labels=False)

# Calcular la media de cada grupo en percentiles
result_mean = df.groupby(df_percentiles.values.tolist()).mean()

# Calcular la desviación estándar de cada grupo en percentiles
result_std = df.groupby(df_percentiles.values.tolist()).std()

# Mostrar los resultados
print("Media por grupo en percentiles:")
print(result_mean)

print("\nDesviación estándar por grupo en percentiles:")
print(result_std)

ValueError: Grouper and axis must be same length